@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./fonts/Gilroy-Regular.woff2') format('woff2'),
        url('./fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
        url('./fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('./fonts/Gilroy-Bold.woff2') format('woff2'),
        url('./fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('./fonts/Gilroy-Black.woff2') format('woff2'),
        url('./fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('./fonts/Gilroy-Light.woff2') format('woff2'),
        url('./fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('./fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('./fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('./fonts/Gilroy-Medium.woff2') format('woff2'),
        url('./fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('./fonts/Gilroy-MediumItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('./fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('./fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('./fonts/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('./fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
        url('./fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('./fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('./fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('./fonts/Gilroy-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('./fonts/Gilroy-BoldItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('./fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('./fonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('./fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('./fonts/Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('./fonts/Gilroy-Thin.woff2') format('woff2'),
        url('./fonts/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('./fonts/Gilroy-ThinItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

.dropdown__menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--gray);
    z-index: 12;
    transition: 0.3s;
    height: fit-content;
    padding: 29px 30px;
}

:root {
    --gray: #4B5563;
    --white: #FFFFFF;
    --yellow: #FCD34D;
    --blue: #2563EB;
    --black: #1F2937;
    --blueff: #EFF6FF;
    --grayDB: #D1D5DB;
    --grayAF: #9CA3AF;
    --whiteF6: #F3F4F6;
    --swiper-theme-color: #FCD34D;
}

.container {
    max-width: 1295px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header__logo {
    background-image: url(../img/svg/Logo.svg);
    background-repeat: no-repeat;
    background-size: 175px 46px;
    background-color: transparent;
    display: block;
    width: 175px;
    height: 46px;
}

.header {
    background-color: var(--gray);
    padding: 12px 0;
    position: relative;
}

.header__container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    gap: 20px;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.header__city {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__confirm__city.active {
    visibility: visible;
    opacity: 1;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
}

.header__nav {
    width: 100%;
}

.header__nav ul li a {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: 0.3s;
}

.header__btn--menu {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/svg/menu.svg);
    background-size: 21px 14px;
    width: 21px;
    height: 14px;
    transition: 0.3s;
    cursor: pointer;
}

.header__city__select {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    user-select: none;
}

.header__city__select::before {
    content: '';
    background-color: transparent;
    background-image: url(../img/svg/city_icon.svg);
    background-size: 26px;
    background-repeat: no-repeat;
    width: 26px;
    margin-right: 4px;
    height: 26px;
}

.header__city__rectangle {
    background-color: transparent;
    background-image: url(../img/svg/rectangle_header.svg);
    transform: rotate(180deg);
    background-size: 14px 7px;
    background-repeat: no-repeat;
    width: 14px;
    height: 10px;
    margin-left: 7px;
}

.header__confirm__city {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 7px 25px rgba(75, 85, 99, 0.12);
    border-radius: 9px;
    padding: 22px 30px 31px;
    top: 33px;
    left: -105px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 4;
    width: 270px;
}

.header__city__text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1F2937;
    margin-bottom: 25px;
}

.header__city__accept {
    border-radius: 7px;
    background-color: var(--yellow);
    padding: 16px 24px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1F2937;
    transition: 0.3s;
    cursor: pointer;
}

.header__city__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__city__deny {
    border-radius: 7px;
    background-color: transparent;
    padding: 16px 19px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--blue);
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid var(--grayDB);
}

.header__phone {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: nowrap;
}

.hero {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 660px;
    height: 660px;
    position: relative;
    background-size: cover;
}

.hero::before {
    content: '';
    z-index: 1;
    position: absolute;
    height: 100%;
    right: 0;
    width: 57%;
    background: linear-gradient(270.06deg, #E5E7EB 1.94%, #E5E7EB 80.6%, rgba(229, 231, 235, 0) 96.1%);
}

.hero__content {
    position: absolute;
    right: 15%;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto 0;
    z-index: 2;
    max-width: 635px;
}

.hero__head {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #1F2937;
    margin-bottom: 26px;
}

.hero__mobile {
    display: none;
}

.hero__desktop {
    width: 100%;
    object-fit: cover;
    height: 660px;
}

.hero__content>p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: var(--gray);
    margin-bottom: 26px;
}

.hero__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 20px;
}

.hero__descr {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 74px;
    color: #FCD34D;
}

.hero__item p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FCD34D;
}

.hero__item {
    background-color: var(--white);
    padding: 10px 24px 21px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F2937;
}

.hero__span {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FCD34D;
}

.hero__link {
    padding: 21px 55px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1F2937;
    background-color: var(--yellow);
    border-radius: 7px;
    display: block;
    width: fit-content;
}

.brand {
    padding-top: 80px;
    margin-bottom: 110px;
}

.title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #1F2937;
    margin-bottom: 40px;
}

.brand__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, max-content);
    row-gap: 43px;
    column-gap: 20px;
    justify-content: space-between;
}

.brand__item {
    width: fit-content;
}

.brand__link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 11px;
}

.mercedes-benz::before {
    content: '';
    background-image: url(../img/mercedes.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 31px 28px;
    width: 31px;
    height: 28px;
    background-color: transparent;
    flex-shrink: 0;
}

.chevrolet::before {
    content: '';
    background-image: url(../img/chevrolet.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 50px 28px;
    width: 50px;
    height: 28px;
    background-color: transparent;
    flex-shrink: 0;
}

.volkswagen::before {
    content: '';
    background-image: url(../img/volkswagen.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    flex-shrink: 0;
}

.mitsubishi::before {
    content: '';
    background-image: url(../img/mitsubishi.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 28px 24px;
    width: 28px;
    height: 24px;
    background-color: transparent;
    flex-shrink: 0;
}

.renault::before {
    content: '';
    background-image: url(../img/renault.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 22px 30px;
    width: 22px;
    height: 30px;
    background-color: transparent;
    flex-shrink: 0;
}

.audi::before {
    content: '';
    background-image: url(../img/audi.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 50px 20px;
    width: 50px;
    height: 20px;
    background-color: transparent;
    flex-shrink: 0;
}

.brand__more {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2563EB;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 7px;
}

.brand__more::after {
    content: '';
    background-color: transparent;
    background-image: url(../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: 18px 9px;
    width: 18px;
    height: 9px;
}

.filter__container {
    margin-bottom: 96px;
}

.why {
    margin-bottom: 94px;
}

.why__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 25px;
}

.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 43px 23px;
    width: 100%;
    background: var(--blueff);
    border: 1px solid #E8EAED;
    border-radius: 9px;
    box-sizing: border-box;
}

.why__item svg {
    margin-bottom: 2px;
}

.why__title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2563EB;
    margin-bottom: 10px;
    text-align: center;
}

.why__descr {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--gray);
    max-width: 233px;
}

.banks__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 20px;
}

.banks__container li {
    text-align: center;
    padding: 30px 36px;
    border: 1px solid #E5E7EB;
    border-radius: 9px;
}

.banks__container li img {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 60px;
    object-fit: contain;
}

.banks {
    margin-bottom: 100px;
}

.showrooms__content {
    max-width: 965px;
}

.showrooms__content h3 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1F2937;
    margin-bottom: 13px;
}

.showrooms__content {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1F2937;
    margin-bottom: 40px;
}

.showrooms__content p {
    margin-bottom: 40px;
}

.showrooms__content ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin-bottom: 34px;
}

.showrooms__content ul li {
    list-style-type: disc;
    margin-left: 18px;
}

.showrooms {
    margin-bottom: 85px;
}

.discount {
    background-color: transparent;
    background-image: url(../img/sale_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.discount__container {
    max-width: 1295px;
    margin: auto;
    position: relative;
    height: 100%;
}

.discount__content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto 0;
    max-width: 634px;
}

.discount__content h2 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #1F2937;
    margin-bottom: 37px;
}

.discount__content p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 28px;
    max-width: 385px;
}

.form__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 18px;
}

.form__submit {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 21px 36px;
    background: #1F2937;
    border-radius: 6px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.form__content input {
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 7px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F2937;
    outline: none;
    padding-left: 20px;
    width: 170px;
}

.form__content input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F2937;
}

.form__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    grid-row: 2/2;
    grid-column: 1/3;
}

.form__checkbox input {
    display: none;
}

.form__checkbox input+.form__checkbox__span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    text-align: center;
    background-color: #FFFFFF;
}

.form__checkbox input+.form__checkbox__span:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    content: '';
    background-repeat: no-repeat;
    background-size: 14px;
    background-color: transparent;
    background-image: url(../img/svg/checked.svg);
    height: 10px;
    width: 14px;
}

.form__checkbox input:checked+.form__checkbox__span:before {
    opacity: 1;
}

.form__checkbox label a {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    border-bottom: 1px solid;
}

.form__checkbox label {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    padding-left: 31px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.footer {
    background-color: var(--gray);
    padding-top: 55px;
    padding-bottom: 30px;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 85, 99, 0.5);
    z-index: 5;
    transition: 0.3s;
}

.popup__container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 29px 50px 36px;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    max-width: 635px;
    border-radius: 9px;
    margin: auto;
    position: absolute;
}

.popup__content::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
}

.popup__content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(153, 153, 153)
}

.popup__content::-webkit-scrollbar {
    width: 3px;
}

.popup__content {
    overflow-y: auto;
    height: fit-content;
    padding-right: 20px;
    max-height: 80vh;
}

.popup__head {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--black);
    text-align: center;
    margin-bottom: 27px;
    user-select: none;
}

.popup__list li a {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}

.popup__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    row-gap: 21px;
    column-gap: 20px;
    justify-content: space-between;
}

.popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.popup.active {
    visibility: visible;
    opacity: 1;
}

.title--filter {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: var(--yellow);
}

.select {
    background: #EFF6FF;
    border: 1px solid #BFDBFE;
    border-radius: 7px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 345px;
    cursor: pointer;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray);
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    transition: 0.3s;
}

.select.color {
    background-color: rgba(255, 251, 235, 1);
    border: 1px solid var(--yellow);
}

.select.color>.select__container {
    background-color: rgba(255, 251, 235, 1);
    border: 1px solid var(--yellow);
    border-top: none;
}

.select__title {
    height: 100%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.select.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #BFDBFE;
}

.select__active {
    position: absolute;
    bottom: 12px;
    height: fit-content;
    left: 20px;
    transition: 0.3s;
}

.select__header {
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    top: 0;
    height: fit-content;
    left: 20px;
    margin: auto 0;
    line-height: 1;
}

.select__header.active {
    top: 13px;
    font-size: 12px;
    margin: 0;
    color: rgba(156, 163, 175, 1);
}

.select__title::after {
    content: '';
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/svg/arrow_black.svg);
    background-size: 18px 9px;
    width: 18px;
    height: 9px;
    display: block;
    position: absolute;
    right: 21px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.3s;
}

.select.active>.select__title::after {
    transform: rotate(180deg);
}

.select.active>.select__container {
    opacity: 1;
    visibility: visible;

}

.select__container {
    padding: 0 20px 21px 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4B5563;
    position: absolute;
    background: #EFF6FF;
    border: 1px solid #BFDBFE;
    width: 100.5%;
    box-sizing: border-box;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: none;
    left: -1px;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
}

.select__container::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
}

.select__container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(153, 153, 153)
}

.select__container::-webkit-scrollbar {
    width: 3px;
}

.form__filter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.select__label {
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    display: block;
}

.select__label:hover {
    color: var(--blue);
}

.select__input {
    display: none;
}

.select__input:checked~.select__label {
    color: var(--blue);
}

.price__container {
    display: flex;
    width: 100%;
    max-width: 305px;
    border: 1px solid #BFDBFE;
    background-color: #EFF6FF;
    border-radius: 7px;
    height: 60px;
}

.select__years {
    width: 100%;
    max-width: 305px;
    display: flex;
    position: relative;
}

.select__years::after {
    content: '';
    height: 15px;
    width: 2px;
    top: 0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #EFF6FF;
    position: absolute;
    border-top: 1px solid #BFDBFE;
}

.select__years::before {
    content: '';
    z-index: 1;
    height: 15px;
    width: 2px;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #EFF6FF;
    position: absolute;
    border-bottom: 1px solid #BFDBFE;
}

.select__from {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select__to {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.breadcrumbs {
    padding-top: 21px;
    margin-bottom: 65px;
}

.breadcrumbs ul {
    display: flex;
    gap: 12px;
}

.breadcrumbs ul li {
    display: flex;
    gap: 12px;
    align-items: center;
}

.breadcrumbs a {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
}

.breadcrumbs span {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--yellow);
}

.main__title {
    margin-bottom: 29px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: var(--black);
}

.breadcrumbs ul li:not(:last-child)::after {
    content: '';
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 6px 11px;
    background-image: url(../img/svg/arrow_breadcrumb.svg);
    width: 6px;
    height: 11px;
    display: block;
}

.price__input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4B5563;
    padding-left: 20px;
    cursor: pointer;
    padding-top: 16px;
}

.price__input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4B5563;
}

.price__separation {
    height: 50%;
    width: 1px;
    margin: auto;
    box-sizing: border-box;
    border-right: 1px solid rgba(191, 219, 254, 1);
}

.price__item {
    position: relative;
    width: 50%;
}

.price__placeholder {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4B5563;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto 0;
    user-select: none;
    transition: 0.3s;
}

.price__placeholder.active {
    bottom: 21px;
    font-size: 12px;
    color: rgba(156, 163, 175, 1);
}

.footer__logo {
    background-color: transparent;
    background-image: url(../img/svg/Logo.svg);
    background-repeat: no-repeat;
    background-size: 174px 46px;
    width: 174px;
    height: 46px;
    display: block;
}

.footer__container {
    display: grid;
    grid-template-columns: 0.3fr 2fr 1fr;
    gap: 46px;
}

.footer__contacts {
    max-width: 185px;
    margin-inline-start: auto;
}

.footer__columns__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer__title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: var(--grayAF);
    margin-bottom: 25px;
    font-weight: 600;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer__list li a {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--whiteF6);
}

.footer__phone {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--whiteF6);
    margin-bottom: 15px;
    display: flex;
    width: fit-content;
    white-space: nowrap;
}

.footer__list__address li {
    display: flex;
    margin-bottom: 7px;
}

.footer__address {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--whiteF6);
    background-color: transparent;
    background-image: url(../img/svg/city_icon_gray.svg);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    background-size: 14px 12px;
    padding-left: 20px;
}

.separation {
    border-bottom: 1px solid #6B7280;
    height: 1px;
    padding-top: 35px;
    margin-bottom: 31px;
}

.catalog__separation {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #F5F5F5;
}

.footer__bottom {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--grayAF);
}

.footer__bottom p:first-child {
    margin-bottom: 20px;
}

.dropdown__nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 27px;
}

.dropdown__nav ul li a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}

.dropdown__menu.active {
    visibility: visible;
    opacity: 1;
}

.dropdown__menu>.header__city {
    display: none;
}

.footer__bottom p {
    max-width: 860px;
}

.footer__politics {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--grayAF);
    border-bottom: 1px solid var(--grayAF);
}

.catalog__count {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D1D5DB;
}

.catalog__count p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
}

.catalog__count--color {
    color: var(--yellow);
}

.catalog {
    margin-bottom: 80px;
}

.catalog__more {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1F2937;
    padding: 21px 148px;
    background-color: var(--yellow);
    border-radius: 7px;
    gap: 5px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    margin-bottom: 90px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 434px;
    white-space: nowrap;
}

.catalog__more::after {
    content: '';
    background-color: transparent;
    background-image: url(../img/svg/load_more.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    display: block;
}
.anim__button {
    position: relative;
}

.anim__button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(100, 100);
    }
}

.anim__button:focus:not(:active)::before {
    animation: ripple 1s ease-in-out;
}

.select__catalog {
    height: 60px;
    width: 100%;
    max-width: 305px;
    background-color: #EFF6FF;
    border: 1px solid #BFDBFE;
    border-radius: 7px;
    position: relative;
}

.select__catalog.active {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select__catalog__link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4B5563;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}

.select__catalog__link:hover {
    color: var(--blue);
}

.select__catalog__dropdown {
    padding: 0 20px 21px 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: absolute;
    background: #EFF6FF;
    border: 1px solid #BFDBFE;
    width: 100.5%;
    box-sizing: border-box;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: none;
    left: -1px;
    right: 0;
    max-height: 250px;
    overflow-y: auto;
}

.select__catalog__dropdown::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
}

.select__catalog__dropdown::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(153, 153, 153)
}

.select__catalog__dropdown::-webkit-scrollbar {
    width: 3px;
}

.select__catalog.active>.select__catalog__dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

.select__catalog__dropdown {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.select__catalog__title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4B5563;
    display: flex;
    align-items: center;
    position: relative;
    padding: 21px 20px;
    cursor: pointer;
    user-select: none;
}

.select__catalog__title::after {
    content: '';
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/svg/arrow_black.svg);
    background-size: 18px 9px;
    width: 18px;
    height: 9px;
    display: block;
    position: absolute;
    right: 21px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.3s;
}

.catalog-swiper {
    position: relative;
    height: 290px;
    width: 100%;
    overflow: hidden;
    border-radius: 13px 13px 0 0;
}

.swiper__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    max-width: 0;
}

.catalog__item {
    position: relative;
    border-radius: 13px;
}

.catalog__label__container {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.catalog__label {
    padding: 5px 7px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-radius: 7px;
}

.stock {
    color: #059669;
    background: rgba(236, 253, 245, 0.9);
    opacity: 0.9;
    border: 1px solid #D1FAE5;
    display: flex;
    align-items: center;
    gap: 3px;
}

.sale {
    color: #EF4444;
    background: rgba(254, 242, 242, 0.9);
    border: 1px solid #FEE2E2;
    border-radius: 7px;
}

.stock::before {
    content: '';
    background-color: transparent;
    background-image: url(../img/svg/label_stock.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    display: block;
    width: 11px;
    height: 11px;
}

.catalog__cars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 40px;
    margin-bottom: 40px;
}

.car__info__container {
    padding: 23px 20px 34px;
    border: 1px solid #D1D5DB;
    border-top: none;
    border-radius: 0 0 13px 13px;
}

.catalog__title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #1F2937;
    margin-bottom: 10px;
    display: block;
}

.catalog__descr {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B7280;
    margin-bottom: 40px;
}

.catalog__price__container {
    position: relative;
}

.old__price {
    position: absolute;
    top: -20px;
    left: 0;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #6B7280;
}

.catalog__price {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1F2937;
    display: flex;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
}

.catalog__credit {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F2937;
    background: #EFF6FF;
    border-radius: 9px;
    padding: 5px 13px;
}

.catalog-swiper .swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    max-width: 50px;
    background-color: transparent;
    opacity: 1;
    height: 290px;
    position: relative;
    cursor: default;
}

.catalog-swiper .swiper-pagination-bullet::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 1px;
    opacity: 0.7;
    z-index: -99;
}

.catalog-swiper .swiper-pagination-bullet-active {
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    max-width: 50px;
    background-color: transparent;
    opacity: 1;
    height: 290px;
    position: relative;
}

.catalog-swiper .swiper-pagination-bullet-active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #ffffff !important;
    z-index: -99;
    border-radius: 1px;
    opacity: 1;
}

.swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-pagination-custom {
    display: flex;
    justify-content: center;
}

@media(max-width: 1700px) {
    .hero__content {
        right: 1%;
    }
}

@media(max-width: 1400px) {
    .hero::before {
        width: 60%;
    }

    .discount__content {
        padding-right: 30px;
    }

    .discount {
        background-position: 35%;
    }
}

@media(max-width: 1200px) {

    .footer__container {
        grid-template-columns: 0.3fr 2fr 0.8fr;
    }

    .banks__container {
        grid-template-columns: repeat(5, 1fr);
    }

    .brand__list {
        grid-template-columns: repeat(4, max-content);
    }

    .header__container {
        grid-template-columns: 0fr 1fr 0.5fr;
    }

    .hero__head {
        font-size: 40px;
        margin-bottom: 8px;
        line-height: 33px;
    }

    .hero__content>p {
        font-size: 22px;
        margin-bottom: 21px;
        line-height: 21px;
    }

    .hero__item {
        padding: 10x 15px 15px 15px;
        border-radius: 8px;
    }

    .hero__span {
        font-size: 40px;
    }

}

@media(max-width: 1100px) {

    .dropdown__menu>.header__city {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .header__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header__logo {
        margin: auto;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        grid-row: 1/1;
        grid-column: 1/1;
    }

    .header__logo {
        grid-row: 1/1;
        grid-column: 2/2;
    }

    .header__right {
        grid-row: 1/1;
        grid-column: 3/3;
    }

    .header__right .header__city {
        display: none;
    }

    .header__confirm__city {
        position: static;
        width: 100%;
        max-width: 330px;
        box-sizing: border-box;
    }
}

@media(max-width: 1050px) {
    .footer__container {
        grid-template-columns: 1fr 0.5fr;
    }

    .footer__logo {
        grid-row: 1/1;
    }

    .footer__columns__container {
        grid-row: 2/2;
    }

    .footer__contacts {
        grid-row: 2/2;
    }
}

@media(max-width: 1000px) {

    .banks__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .why__item {
        padding: 14px 20px 23px;
    }

    .brand__list {
        grid-template-columns: repeat(3, max-content);
    }
}

@media(max-width: 900px) {

    .catalog__cars {
        grid-template-columns: 1fr 1fr;
    }

    .discount {
        background-image: url(../img/discount_mobile.png);
        height: 919px;
        background-position: center;
    }

    .discount__content {
        top: 67px;
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
        padding-right: 30px;
        padding-left: 30px;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__contacts {
        grid-row: 3/3;
        margin-inline-start: initial;
        max-width: 100%;
    }

    .why__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero__mobile {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .hero::before {
        background: linear-gradient(0deg, #E5E7EB 15.13%, rgba(229, 231, 235, 0) 100.36%);
        width: 100%;
    }

    .hero__content {
        left: 30px;
        bottom: 47px;
        top: auto;
    }

    .hero__desktop {

        display: none;
    }

    .banks__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px) {

    .dropdown__menu {
        padding: 29px 15px;
    }

    .form__checkbox {
        grid-column: 1/1;
        grid-row: 3/3;
    }

    .form__content {
        grid-template-columns: 1fr;
    }

    .form__content input {
        width: 100%;
        box-sizing: border-box;
        height: 60px;
    }

    .discount__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .discount__content h2 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 26px;
    }

    .discount__content p {
        max-width: 100%;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .header__phone {
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(../img/svg/phone.svg);
        background-size: 24px;
        width: 24px;
        height: 24px;
        font-size: 0;
    }

    .hero__cards {
        gap: 12px;
        margin-bottom: 20px;
    }

    .hero {
        height: 406px;
    }

    .hero__span {
        font-size: 30px;
        margin-bottom: 0;
        line-height: 37px;
    }

    .hero__content {
        max-width: 330px;
    }

    .hero__item {
        font-size: 8px;
        padding: 2px 6px 8px;
        line-height: 1;
    }

    .hero__head {
        font-size: 30px;
    }

    .hero__descr {
        font-size: 18px;
    }

    .hero__content>p {
        font-size: 18px;
        margin-bottom: 21px;
    }

    .hero__link {
        padding: 14px 33px;
    }

    .hero__item p {
        font-size: 13px;
        line-height: 1;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .title {
        font-size: 24px;
        line-height: 29px;
    }
}

@media(max-width: 600px) {

    .catalog__label {
        font-size: 10px;
        padding: 3px 6px;
    }

    .stock::before {
        width: 9px;
        height: 9px;
        background-size: 9px;
    }

    .catalog__more {
        padding: 21px 25px;
    }

    .old__price {
        font-size: 12px;
        top: -12px;
    }

    .catalog-swiper {
        height: 240px;
    }

    .car__info__container {
        padding: 14px 15px 22px;
    }

    .catalog__credit {
        font-size: 14px;
        padding: 5px 5px;
    }

    .catalog__cars {
        grid-template-columns: 1fr;
    }

    .footer__columns__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 44px;
        column-gap: 38px;
    }

    .showrooms__content ul {
        column-count: 1;
        -webkit-column-count: 1;
    }

    .banks__container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .banks__container li {
        padding: 17px 22px;
    }

    .why__list {
        grid-template-columns: 1fr;
    }

    .brand__list {
        grid-template-columns: repeat(2, max-content);
    }

    .header__logo {
        width: 128px;
        height: 33px;
        background-size: 128px 33px;
    }

    .brand__link {
        gap: 5px;
    }
}

@media(max-width: 374px) {

    .brand__list {
        grid-template-columns: 1fr;
    }

    .hero__content {
        left: 15px;
        right: 15px;
    }

    .header__confirm__city {
        padding: 16px 13px 20px;
    }
}